/* /selector.css */
* { font-weight: bold; color: darkorange; }

.blue { color: lightblue;}
/* p태그 이면서 blue 클래스를 가지고 있는 엘리먼트 선택 */
p { color: olivedrab;}
p.blue { color: slateblue;}
* { color: plum; }

.blue.dark { color: mediumblue;}
p.blue.dark { color: green;}

/* ID선택자는 우선순위가 굉장히 높다. 거의 !important에 가깝다 */
#red { color: tomato;}

/* 그룹선택자 */
span, .dark, #red { text-decoration: underline;}
span { text-decoration-color: black; }
